<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="my-3 py-2" role="alert">Omlouváme se, ale tato stránka neexistuje.</p>
            <a class="border-1 rounded text-center text-xl font-sans align px-1 py-1" href="https://localhost:7185/">Zpět na úvodní stránku</a>
        </LayoutView>
    </NotFound>
</Router>
